@inject DataServices Service

<div class="row rounded-lg mt-2 mb-3 shadow-lg" style="background: white;">
    <div class="col mt-3 ml-2 mr-2">
        <SfGrid ID="StatGrid"
                DataSource="@Data"
                Toolbar="@(new List<string>() { "Search" })"
                Width="100%"
                Height="100%"
                AllowSorting="true"
                EnableHover="false"
                AllowPaging="true">
            
            <GridPageSettings PageSize="10" PageCount="5" PageSizes="true"></GridPageSettings>

            <GridSortSettings>
                <GridSortColumns>
                    <GridSortColumn Field="Code"
                                    Direction="SortDirection.Ascending">
                    </GridSortColumn>
                </GridSortColumns>
            </GridSortSettings>

            <GridColumns>
                <GridColumn Field=@nameof(Datum.Code)
                            HeaderText="Code"
                            TextAlign="TextAlign.Left"
                            Width="100">
                </GridColumn>
                <GridColumn Field=@nameof(Datum.CodingSystem)
                            HeaderText="Coding System"
                            TextAlign="TextAlign.Left"
                            Width="120">
                </GridColumn>
                <GridColumn Field=@nameof(Datum.Type)
                            HeaderText="Type"
                            TextAlign="TextAlign.Left"
                            Width="120">
                </GridColumn>
                <GridColumn Field=@nameof(Datum.Name)
                            HeaderText="Name"
                            TextAlign="TextAlign.Left"
                            Width="120">
                </GridColumn>
            </GridColumns>
        </SfGrid>
    </div>
</div>


@code {

    private List<Datum> Data { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Data = await Service.GetAllAsync();
    }
}
